<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
             <key>cell</key>
             <string>PSGroupCell</string>
             <key>headerCellClass</key>
             <string>HBPackageNameHeaderCell</string>
             <key>packageIdentifier</key>
             <string>com.mac-user669.zenithdark</string>
             <key>backgroundGradientColors</key>
             <array>
                 <string>#D0A400</string>
                 <string>#D0A400</string>
             </array>
 			<key>titleColor</key>
 			<string>#111111</string>
 			<key>subtitleColor</key>
 			<string>#444444</string>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.mac-user669.zenithdark.prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.mac-user669.zenithdark</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply Changes</string>
			<key>footerText</key>
			<string>A Respring is needed to apply changes!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>doAFancyRespring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Conceptualized by yours truly.</string>
		</dict>
		<dict>
            <key>cellClass</key>
             <string>HBTwitterCell</string>
             <key>label</key>
             <string>mac-user669</string>
             <key>user</key>
             <string>mac_user669</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Coded most of the tweak.</string>
		</dict>
		<dict>
            <key>cellClass</key>
             <string>HBTwitterCell</string>
             <key>label</key>
             <string>iKilledAppl3</string>
             <key>user</key>
             <string>iKilledAppl3</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Helped with some of our preferences code and amongst other things.</string>
		</dict>
		<dict>
            <key>cellClass</key>
             <string>HBTwitterCell</string>
             <key>label</key>
             <string>Skittyblock</string>
             <key>user</key>
             <string>Skittyblock</string>
        </dict>
	</array>
	<key>title</key>
	<string>ZenithDark</string>
</dict>
</plist>
